body{

}

header{

background-image: url('https://placeimg.com/1000/1000/nature');
width: 100%;
height: 700px;
background-repeat: no-repeat;
background-size: cover;



}


.forest img {

max-width: 100%;
max-height: auto;
margin-bottom:2px;

}




footer{
	background-color: grey;
}