.hero-slider .slick-slide {
		background-size: cover;
		height:500px;
	}	

.hero-slider .one{
	background-image: url('../images/fall.jpg');
}
.hero-slider .two{
	background-image: url('../images/winter.jpg');
}
.hero-slider .three{
	background-image: url('../images/spring.jpg');
}
.hero-slider .four{
	background-image: url('../images/summer.jpg');
}

.hero-slider .slick-slide:nth-child(even) {
	background-color: aquamarine;
	font-family: verdana;
}
